nav{
  display:flex;
  flex-direction: row;
  background-color:rgba(128, 128, 128, 0.165);
  border: solid 1px;
}
ul{
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin:auto;
}
li{
  margin:1rem;
  border: 2px solid black;
  padding:2rem;
}
a{
  text-decoration: none;
  
  color: magenta;
}
#rabbit{
  font-size: 3rem;
  margin:auto .5rem;
}
h2{
  text-align: center;
}
#splash{
  background-color: blue;
  height:500px;
}
h3{
  color:white;
  text-align: center;
}
p{
  text-align: center;
}
#mountain{
  background-color:rgb(153, 53, 53);
  color:white;
  height:500px
}
#last{
  background-color: green;
  color:white;
  height:500px
}